<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Social</title>
    <link rel="stylesheet" href="/stylesheets/shared.css">
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>

<body>
    <div id="main">
        <ul class="nav">
            <div class="left">
                <li class="nav-item"><a href="/">Generic Social</a></li>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </div>
            <div class="right">
                <li class="nav-item"><a href="/login">Login</a></li>
                <li class="nav-item"><a href="/login">Sign-Up</a></li>
            </div>
        </ul>
        <h1>Uh Oh, That's an Error!</h1>
        <p>It seems we can't find the page you're looking for. Maybe try going back to our <a href="/">home page</a></p>
        <div class="footer">
            <ul>
                <li><a href="/legal/privacy">Privacy Policy</a></li>
                <li><a href="/legal/tos">Terms of Use</a></li>
            </ul>
            <ul>
                <li><a href="/legal/contact">Contact</a></li>
                <li><a href="/legal/credits">Credits</a></li>
            </ul>
        </div>
    </div>
</body>

</html>